* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Conv_CircularStd-Book", Helvetica, sans-serif;
  background-color: #efefef;
}

.nav {
  height: 80px;
  width: 100%;
  background-color: #6AD7E4;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 35px;
  color: #fff;
  padding: 17px 17px 17px 17px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 22px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 22px 17px 22px 17px;
  text-decoration: none;
  color: #fff;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

#welcome-banner {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
}

#welcome-banner h1 {
  text-align: center;
  font-size: 55px;
}

.room-id-input {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 100px;
}

.room-id-input input[type="submit"] {
  width: 18%;
  margin-right: 0;
  border-color: #6AD7E4;
  background-color: #6AD7E4;
  color: #fff;
  font-size: 23px;
}

.room-id-input input[type="submit"]:hover {
  color: #505050;
  cursor: pointer;
}

.room-id-input input {
  height: 80px;
  width: 78%;
  border-width: 6px;
  border-color: #959595;
  border-style: solid;
  border-radius: 100px;
  display: inline;
  font-size: 22px;
  padding-left: 25px;
}

.room-id-input > #room-id-heading > p {
  text-align: left;
  font-size: 22px;
  margin-bottom: 10px;
  padding-left: 16px;
  color: #505050;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 80px;
    padding: 22px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 80px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  /*Room ID Responsive*/
  .room-id-input {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 100px;
  }
  
  .room-id-input input[type="submit"] {
    width: 18%;
    margin-right: 0;
    border-color: #6AD7E4;
    background-color: #6AD7E4;
    color: #fff;
    font-size: 23px;
  }
  
  .room-id-input input[type="submit"]:hover {
    color: #505050;
    cursor: pointer;
  }
  
  .room-id-input input {
    height: 80px;
    width: 78%;
    border-width: 6px;
    border-color: #959595;
    border-style: solid;
    border-radius: 100px;
    display: inline;
    font-size: 22px;
  }
  
  .room-id-input > #room-id-heading > p {
    text-align: left;
    font-size: 22px;
    margin-bottom: 10px;
    padding-left: 16px;
    color: #505050;
  }
}
